.header {
    margin-bottom: 45px
}

.inputError {
    color: red;
    float: right;
}

.button {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
}

.float-right {
    float: right;
}